* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	background-color: royalblue;
}

.wrapp {
	margin: 120px;
	padding: 50px;
}

h1 {
	margin-bottom: 20px;
}
